<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config/>
	<bean name="address1" class="com.vibha.spring.springcoreadvanced.autowiring.annotations.qualifier.Address" p:hno="150"
	p:street="3nd Cross Road" p:city="Mangalore"/>
	
	<bean name="address2" class="com.vibha.spring.springcoreadvanced.autowiring.annotations.qualifier.Address" p:hno="160"
	p:street="2nd Cross Road" p:city="Bangalore"/>
	
	
	
	<bean name="employee" class="com.vibha.spring.springcoreadvanced.autowiring.annotations.qualifier.Employee"/>
</beans>